$typo-size-small: 1.2rem;
$typo-size-medium: 2.3rem;
$typo-size-big: 3.5rem;

$typo-litle-device-small: 1.1rem;
$typo-litle-device-medium: 1.8rem;
$typo-litle-device-big: 2.5rem;

$special-shadow-txt: 0 0 15px rgba(255, 255, 255, 0.5),
  0 0 10px rgba(255, 255, 255, 0.5);
