@use "../components/variables";
@use "../components/placeholders";
@use "../components/mixins";
@use "../abstract/lineSVG";

main {
  & .sect-prima {
    position: relative;
    @extend %reset-marg-pad, %displayed-row-evenly;
    min-height: 90vh;
    width: 100%;
    @include mixins.breakpoint(medium) {
      display: flex;
      flex-flow: column nowrap;
      place-items: center;
      place-content: center space-evenly;
    }
    @include mixins.breakpoint(large) {
    }
    &__inner {
      overflow: visible;
    }
    &__wireframectnr {
      position: relative;
      width: 100%;
      min-width: 1200px;
      max-width: 1440px;
      height: 650px;
      overflow: hidden;
      border-radius: 15px;
      @include mixins.breakpoint(medium) {
        min-width: 375px;
        max-width: 600px;
        height: 350px;
        overflow: hidden;
      }
      @include mixins.breakpoint(large) {
      }
    }
    &__wireframepict {
      opacity: 0;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      min-width: 1200px;
      max-width: 1440px;
      height: 650px;
      overflow: hidden;
      z-index: 0;
      animation: revealUi 2s ease 1.5s 1 normal forwards;
      @include mixins.breakpoint(medium) {
        min-width: 375px;
        max-width: 200px;
        height: 350px;
        overflow: hidden;
      }
      @include mixins.breakpoint(large) {
      }
    }
  }
}
