@use "../components/variables";
@use "../components/placeholders";
@use "../components/mixins";
@use "../abstract/lineSVG";

main {
  & .sect-prima {
    @extend %reset-marg-pad, %displayed-column-center;
    height: auto;
    width: 100%;
    @include mixins.breakpoint(medium) {
      display: flex;
      flex-flow: column nowrap;
      place-items: center;
      place-content: center space-evenly;
    }
    @include mixins.breakpoint(large) {
    }
    & .prima-subcontainer {
      @extend %reset-marg-pad, %displayed-row-evenly;
      position: relative;
      height: auto;
      width: 100%;
      @include mixins.breakpoint(medium) {
        display: flex;
        flex-flow: column nowrap;
        place-items: center;
        place-content: center space-evenly;
      }
      @include mixins.breakpoint(large) {
      }
      &__inner {
        overflow: visible;
      }
      &__wireframectnr {
        position: relative;
        width: 100%;
        min-width: 1200px;
        max-width: 1440px;
        height: 650px;
        overflow: hidden;
        border-radius: 15px;
        @include mixins.breakpoint(medium) {
          min-width: 375px;
          max-width: 600px;
          height: 350px;
          overflow: hidden;
        }
        @include mixins.breakpoint(large) {
        }
      }
      &__wireframepict {
        opacity: 0;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 1200px;
        max-width: 1440px;
        height: 650px;
        overflow: hidden;
        z-index: 0;
        animation: revealUi 2s ease 1.5s 1 normal forwards;
        @include mixins.breakpoint(medium) {
          min-width: 375px;
          max-width: 200px;
          height: 350px;
          overflow: hidden;
        }
        @include mixins.breakpoint(large) {
        }
      }
    }
    & .slider-wrapper {
      @extend %reset-marg-pad, %displayed-row-evenly;
      position: relative;
      height: 25vh;
      width: 100%;
      overflow: hidden;
      & .stat-container {
        position: absolute;
        left: 2vw;
        width: 250px;
        height: 250px;
        &__info {
          @extend %typo-code;
          display: inline-block;
          color: rgba(255, 255, 255, 0.733);
          text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
          letter-spacing: 2px;
          text-transform: lowercase;
          width: auto;
          padding: 3px;
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              @if $i == 1 {
                transform: translate(105px, -8px);
                border-bottom: 1px solid red;
              } @else if $i == 2 {
                transform: translate(177px, 75px);
                  border-left: 1px solid red;
              } @else if $i == 3 {
                transform: translate(-110px, 75px);
                   border-right: 1px solid red;
              } @else if $i == 4 {
                transform: translate(-128px, 200px);
                 border-top: 1px solid red;
              } @else if $i == 5 {
                transform: translate(-14px, 200px);
                 border-top: 1px solid red;
              }
            }
          }
        }
      }
      &__subcontainer {
        position: relative;
        top: 0;
        height: 35vh;
        width: 13%;
      }
      &__svgA {
        width: 250px;
        height: 250px;
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
      }
      &__svgB {
        height: 0;
        width: 0;
        position: absolute;
      }
      & .morphing-txt {
        @extend %typo-subtitle;
        width: 80%;
        margin: 0;
        font-size: 6rem;
        font-weight: 800;
        color: rgba(255, 255, 255, 0.3);
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      }
    }
  }
}
