@use "../components/variables";
@use "../components/placeholders";
@use "../components/mixins";
main {
  & .sect__prima {
    position: relative;
    @extend %reset-marg-pad;
    min-height: 100vh;
    width: 100%;
    & .feature__ctnr {
      display: flex;
      place-content: center center;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      will-change: transform;
      & .feature__el {
        @extend %displayed-column-center;
        padding: 8px;
        position: absolute;
        height: max-content;
        width: auto;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 0.5rem;
        transform: translate(-50%, -50%);
        will-change: top, left, width, height, border-radius, border-width;
        @include mixins.breakpoint(medium) {
          height: 8vh;
          width: 20vw;
        }
        & .feature__txt {
          @extend %typo-standar;
          font-size: variables.$typo-size-small;
          color: #fff;
          will-change: width, height, border-radius, border-width;
          text-align: center;
          margin: 8px;
          @include mixins.breakpoint(medium) {
            font-size: 0.5rem;
          }
        }
        &:hover{
          box-shadow: variables.$special-shadow-txt;
        }
      }
      & .feature__el:nth-child(1) {
        transition: 0.1s ease;
      }
      & .feature__el:nth-child(2) {
        transition: 0.7s ease;
      }
      & .feature__el:nth-child(3) {
        transition: 0.5s ease;
      }
      & .feature__el:nth-child(4) {
        transition: 0.4s ease;
      }
      & .feature__el:nth-child(8) {
        transition: 0.3s ease;
      }
    }
    & .papper1 {
      position: absolute;
      top: 4%;
      left: 25%;
      height: auto;
      width: 55vw;
      transform: rotate(90deg);
      filter: drop-shadow(0px 0px 5px #fff);
      z-index: -10;
      @include mixins.breakpoint(medium) {
        top: 12%;
        left: 4%;
        height: auto;
        width: 100vw;
      }
      @include mixins.breakpoint(large) {
        top: 12%;
        left: 4%;
        height: auto;
        width: 100vw;
      }
    }
    & .vid__ctnr {
      @extend %globale-size, %displayed-row-center;
      background-color: #000;
      @include mixins.breakpoint(medium) {
        display: flex;
        flex-flow: column nowrap;
        place-content: flex-start space-evenly;
      }
      & .ai__vid {
        top: 15%;
        left: 43%;
        position: absolute;
        height: 45vh;
        width: auto;
        border-radius: 10%;
        opacity: 0;
        @include mixins.breakpoint(medium) {
          height: 25vh;
          width: auto;
          left: auto;
        }
        @include mixins.breakpoint(large) {
          top: 18%;
          height: 45vh;
          width: auto;
          left: 35%;
        }
      }
      & .audio-visualizer {
        display: flex;
        gap: 3px;
        position: absolute;
        top: 35%;
        left: 61%;
        transform: translateX(-50%) rotate(-90deg);
        width: 10%;
        height: 100px;
        @include mixins.breakpoint(medium) {
          display: none;
        }
        @include mixins.breakpoint(large) {
          display: none;
        }
      }
      & .audio-visualizer .bar {
        flex: 1;
        height: 10px;
        border-radius: 2px;
        transition: height 0.05s;
        background-color: #fff;
        filter: drop-shadow(0px 0px 5px #000);
        @include mixins.breakpoint(medium) {
          display: none;
        }
        @include mixins.breakpoint(large) {
          display: flex;
        }
      }
    }
    & .search__bar {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 3rem;
      border-radius: 15px;
      opacity: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: #000;
      border: 2px solid #fff;
      will-change: opacity, width, height, transform;
      & .ai__txt__symb {
        @extend %typo-standar;
        font-size: variables.$typo-size-medium;
        color: rgb(226, 86, 26);
        animation: bipSymbole 0.6s ease infinite;
      }
      & .ai__txt {
        @extend %typo-standar;
        font-size: variables.$typo-size-small;
        color: #fff;
        @include mixins.breakpoint(medium) {
          font-size: 0.8rem;
          text-align: center;
        }
        @include mixins.breakpoint(large) {
          font-size: 0.8rem;
          text-align: center;
        }
      }
    }
  }
}
