.content,
.rgbKineticSlider {
  position: relative;
  overflow: hidden;
  height: 60vh;
  width: 100%;
}
#navSlide > a,
.notice {
  text-decoration: none;
  z-index: 1;
}
:root {
  font-size: 15px;
}
.js .loading::after,
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 1000;
}
.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}
.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: 0.7s linear infinite alternate forwards loaderAnim;
}
@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
a {
  text-decoration: none;
  color: var(--color-link);
  outline: 0;
}
a:focus,
a:hover {
  color: var(--color-link-hover);
  outline: 0;
}
.message {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 1rem;
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .content {
    height: 60vh;
    justify-content: center;
  }
}
.rgbKineticSlider {
  display: block;
  visibility: hidden;
  opacity: 1;
  animation: 5s 1s forwards slideAnime;
}
@keyframes slideAnime {
  from {
    display: none;
    transition: 1s ease-in-out;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
#navSlide > span,
canvas {
  display: block;
  position: absolute;
}
canvas {
  font-size: 1.5rem;
  top: 0;
  left: 0;
}
#navSlide > a {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  top: 30vh;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 25px;

}
#navSlide > a:focus,
#navSlide > a:hover {
  color: #fff;
 border-bottom: 3px solid #fff;
  cursor: pointer;
}
#navSlide > span {
  width: 100%;
  height: 1px;
  background-color: var(--color-link-hover);
  margin-top: 7px;
  -moz-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
#navSlide > a:hover span {
  width: 0;
}
#navSlide > a.next {
  right: 10vw;
}
#navSlide > a.prev {
  left: 10vw;
}
.notice {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  color: var(--color-link);
}
@media screen and (max-width: 53em) {
  #navSlide > a {
    top: auto;
    bottom: 3rem;
  }
  .notice {
    bottom: auto;
    top: 2rem;
    left: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  canvas {
    font-size: 1rem;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}
